<nav class="navbar navbar-expand-lg ">
    <h2 class="navbar-brand">Rams News Scraper</h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">


    </div>
</nav>

<div class="jumbotron jumbotron-fluid m-2">
    <div class="container">
        <h1 class="display-4">Rams News Scraper!!</h1>
        <p class="lead">Get the latest news directly from the official Rams website!</p>
        <button id="scrapeNew" class="btn">Check for new Articles</button>
    </div>
</div>
<div id="articleContainer" class="container">



</div>

<div class="modal fade" id="scrapeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Rams Scraper</h5>

            </div>
            <div class="modal-body">
                Finished Scraping for articles
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="commentModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="commentTitle" class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-group comment-container"></ul>
                <textarea id="newComment" placeholder="New Comment" style="min-width: 100%"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button type="button" id="save" class="btn  btn-primary">Save Comment</button>
            </div>
        </div>
    </div>
</div>